* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  outline: 1px solid #f73;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* end of RESET */

:root {
  --color-primary: #ae0000;
  --color-secondary: #EFEFEF;
  --color-black: #000000;
  --color-light: #949494;

  --txt-xl: 128px;
  --txt-lg: 40px;
  --txt-base: 32px;
  --txt-sm: 24px;
  --txt-xs: 20px;
}

html, body {
  font-family: 'Castoro', serif;
  line-height: 1.5;
  font-size: var(--txt-base);
}


.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-light);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

img:hover, a:hover {
  opacity: 0.9;
}

.w-half {
  width: 50%;
}

.size-16 {
  width: 64px;
  height: 64px;
}

.fz-header {
  font-size: var(--txt-xl);
  /* letter-spacing: 0.12em; */
}

.bg-secondary {
  background: var(--color-secondary);
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-5 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mb-5 {
  margin-bottom: 80px;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.text-right {
  text-align: right;
}


/* end of base */

.header-img {
  width: 636px;
  height: 848px;
}


.cv-title {
  font-size: var(--txt-lg);
  border-bottom: 3px solid var(--color-primary);

  color: var(--color-primary);

}

.cv-txt {
  padding-top: 16px;
  padding-bottom: 32px;

  /* font-weight: 600; */
  font-size: var(--txt-sm);
}

.cv-txt>li {
  padding-bottom: 8px;
}

.cv-txt span {
  font-size: var(--txt-xs);
  font-style: italic;
  color: var(--color-light);
}

/* end of main */